.container-box-block {
  margin-bottom: 20px;
}
.tow-container-box {
  display: flex;
  margin: 20px;
}
.tow-container-box .left-box,
.tow-container-box .right-box {
  width: 800px;
  margin: 0 12px;
}
.color-orange {
  color: #ff4f00;
}
.icon-danhao {
  width: 15px;
  height: 17px;
  background: url('../image/icon_ordernum@2x.png') no-repeat;
  background-size: contain;
  display: inline-block;
}
.icon-danhao {
  width: 15px;
  height: 17px;
  background: url('../image/icon_shop@2x.png') no-repeat;
  background-size: contain;
  display: inline-block;
}
.card-box {
  border: 1px solid #eeeeee;
}
.card-box .card-box-title {
  background: #f6f6f6;
  padding: 11px 15px;
  position: relative;
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #26965c;
}
.card-box .card-box-title:after {
  position: absolute;
  display: block;
  top: 15px;
  left: 8px;
  content: '';
  width: 2px;
  height: 12px;
  background: #26965c;
}
.card-box .card-box-container {
  padding: 12px 12px 0 12px;
}
.card-box .card-box-container.fuse-box-container {
  padding: 0;
}
.card-box .card-box-container.fuse-box-container .table-box {
  margin: -1px;
}
.card-box .card-box-container .card-box-container-text .card-box-container-text-item-wrapper {
  margin-bottom: 10px;
  display: flex;
}
.card-box .card-box-container .card-box-container-text .card-box-container-text-item-wrapper .card-box-container-text-item {
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  display: flex;
  min-width: 260px;
}
.card-box .card-box-container .card-box-container-text .card-box-container-text-item-wrapper .card-box-container-text-item > span {
  font-size: 12px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #555555;
  min-width: 61px;
  display: block;
}
.card-box .card-box-container .card-box-container-text .card-box-container-text-item-wrapper .card-box-container-text-item > a {
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #01aaed;
  text-decoration: underline;
}
.progress-bar-box {
  padding: 10px;
}
.progress-bar-box .progress-bar-box-wrapper {
  border-left: 2px solid #EEEEEE;
  padding-left: 10px;
}
.progress-bar-box .progress-bar-box-wrapper .progress-bar-box-item {
  position: relative;
  padding-bottom: 20px;
}
.progress-bar-box .progress-bar-box-wrapper .progress-bar-box-item:first-child:before {
  position: absolute;
  content: '';
  top: 0px;
  left: -16px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}
.progress-bar-box .progress-bar-box-wrapper .progress-bar-box-item:after {
  position: absolute;
  content: '';
  top: 5px;
  left: -16px;
  width: 10px;
  height: 10px;
  background: #dddddd;
  border-radius: 50%;
}
.progress-bar-box .progress-bar-box-wrapper .progress-bar-box-item .progress-bar-box-item-title {
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
}
.progress-bar-box .progress-bar-box-wrapper .progress-bar-box-item .progress-bar-box-item-message {
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
}
.select-box {
  border: 1px solid #eeeeee;
  font-size: 13px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
}
.table-box.deepen-thead thead {
  background: #f6f6f6;
}
.table-box.deepen-thead thead th {
  border: 1px solid #f6f6f6;
}
.table-box table {
  width: 100%;
  border-collapse: collapse;
}
.table-box table th,
.table-box table td {
  padding: 12px;
  border: 1px solid #eeeeee;
}
.table-box table thead th {
  text-align: center;
  font-size: 13px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
}
.table-box table tbody td {
  padding-left: 17px;
  font-size: 13px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
}
.btn-box.primary-btn {
  background: #26965c;
  border-radius: 3px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #ffffff;
  padding: 5px 10px;
  text-align: center;
}
.tab-box {
  width: 100%;
  overflow-y: auto;
  border: 1px solid #eeeeee;
}
.tab-box .tab-box-title {
  background: #eeeeee;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
}
.tab-box .tab-box-title .tab-box-title-item {
  padding: 10px 20px;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #000000;
  cursor: pointer;
}
.tab-box .tab-box-title .tab-box-title-item.checked {
  background-color: #fff;
}
.tab-box .tab-box-container {
  padding: 15px;
}
.ml10 {
  margin-left: 10px ;
}
.mr10 {
  margin-right: 10px ;
}
.count-input {
  display: flex;
}
.count-input .count-input-btn {
  width: 24px;
  height: 24px;
  background: #f6f6f6;
  border-radius: 2px 0px 0px 2px;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -1px;
  cursor: pointer;
}
.count-input.count-input-disabled > input {
  color: #999999;
  background: #f6f6f6;
}
.count-input.count-input-disabled .count-input-btn {
  color: #999999;
}
.count-input > input {
  width: 38px;
  height: 24px;
  background: #ffffff;
  border: 1px solid #dddddd;
  text-align: center;
}
.dialog {
  padding: 10px;
}
.dialog .dialog-form .form-rate .layui-rate {
  padding: 0;
}
.dialog .dialog-form .form-rate .layui-inline {
  color: #F03B3B;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
}
.dialog .dialog-form .form-evaluate {
  display: flex;
}
.dialog .dialog-form .form-evaluate > div {
  width: 40px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #666666;
  position: relative;
  padding-left: 20px;
}
.dialog .dialog-form .form-evaluate > div.good.checked {
  color: #f03b3b;
}
.dialog .dialog-form .form-evaluate > div.good.checked:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../c_image/好评@2x.png") no-repeat;
  content: '';
  background-size: contain;
}
.dialog .dialog-form .form-evaluate > div.good:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../c_image/icon_good_def@2x.png") no-repeat;
  content: '';
  background-size: contain;
}
.dialog .dialog-form .form-evaluate > div.middle.checked {
  color: #FCBD29;
}
.dialog .dialog-form .form-evaluate > div.middle.checked:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../c_image/icon_normal_pre@2x.png") no-repeat;
  content: '';
  background-size: contain;
}
.dialog .dialog-form .form-evaluate > div.middle:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../c_image/icon_normal_def@2x.png") no-repeat;
  content: '';
  background-size: contain;
}
.dialog .dialog-form .form-evaluate > div.bad.checked {
  color: #44A7F8;
}
.dialog .dialog-form .form-evaluate > div.bad.checked:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../c_image/icon_bad_pre@2x.png") no-repeat;
  content: '';
  background-size: contain;
}
.dialog .dialog-form .form-evaluate > div.bad:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../c_image/icon_bad_def@2x.png") no-repeat;
  content: '';
  background-size: contain;
}
.dialog .dialog-form .dialog-form-item {
  padding: 5px;
  display: flex;
  align-items: baseline;
}
.dialog .dialog-form .dialog-form-item .dialog-form-item-title {
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
  width: 60px;
}
/*# sourceMappingURL=css.css.map */