<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>检测开单</title>
  <link rel="stylesheet" href="../../layui/css/layui.css">
  <link rel="stylesheet" href="../../c_style/css.css">
</head>
<body>
<div class="add-template-main">
  <div class="template-phone">
    <div class="template-phone-title"></div>
    <div class="template-phone-djq-list">
      <div class="template-phone-vip vip-bg-blue">
        <p class="template-phone-vip-title">镀晶</p>
        <p class="template-phone-vip-info">储值￥<span>100</span></p>
        <p class="template-phone-vip-footer">赠送200</p>
      </div>
    </div>
  </div>
  <div class="template-info">
    <p class="template-info-p">代金券信息</p>
  </div>
</div>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="../../layui/layui.all.js"></script>
<script src="../../c_javascript/fabric.js"></script>
<script src="../../c_javascript/fabric.min.js"></script>
</body>
</html>
