<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>客户管理</title>
  <link rel="stylesheet" href="../../css/project.css">
</head>
<body>
<div class="car-message-container">
  <div class="car-message-item">
    <div class="car-message-item-header">
      <div class="car-message-item-header-number">
        鲁A12345
      </div>
      <span class="pink">A类车</span>
      <span class="gray">10000km</span>
      <div class="car-message-item-header-right-box">
        <a href="javascript:;" class="right-button button-edit">编辑</a>
        <a href="javascript:;" class="right-button">删除</a>
      </div>
    </div>
    <div class="car-message-item-info" title="上海大众帕萨特2003款2.0 手动 基本版(2004-2004)文字很长很长上海大众帕萨特2003款2.0 手动 基本版(2004-2004)文字很长很长很…">
      上海大众帕萨特2003款2.0 手动 基本版(2004-2004)文字很长很长上海大众帕萨特2003款2.0 手动 基本版(2004-2004)文字很长很长很…
    </div>
    <div class="car-message-item-tips">
      <div class="car-message-item-tips-item item-vin">LSVCG49F042261854</div>
      <div class="car-message-item-tips-item" title="省略省略省略省略"><i class="icon-fadongji"></i>省略省略省略省略</div>
      <div class="car-message-item-tips-item" title="又双叒叕要省略"><i class="icon-bao"></i>又双叒叕要省略</div>
      <div class="car-message-item-tips-item">123</div>
    </div>
  </div>
  <div class="car-message-item">
    <div class="car-message-item-header">
      <div class="car-message-item-header-number">
        鲁A12345
      </div>
      <span class="pink">A类车</span>
      <span class="gray">10000km</span>
      <div class="car-message-item-header-right-box">
        <a href="javascript:;" class="right-button button-edit">编辑</a>
        <a href="javascript:;" class="right-button">删除</a>
      </div>
    </div>
    <div class="car-message-item-info">
      上海大众帕萨特2003款2.0 手动 基本版(2004-2004)文字很长很长上海大众帕萨特2003款2.0 手动 基本版(2004-2004)文字很长很长很…
    </div>
    <div class="car-message-item-tips">
      <div class="car-message-item-tips-item">123</div>
      <div class="car-message-item-tips-item">123</div>
      <div class="car-message-item-tips-item">123</div>
      <div class="car-message-item-tips-item">123</div>
    </div>
  </div>
  <div class="car-message-item">
    <div class="car-message-item-header">
      <div class="car-message-item-header-number">
        鲁A12345
      </div>
      <span class="pink">A类车</span>
      <span class="gray">10000km</span>
      <div class="car-message-item-header-right-box">
        <a href="javascript:;" class="right-button button-edit">编辑</a>
        <a href="javascript:;" class="right-button">删除</a>
      </div>
    </div>
    <div class="car-message-item-info">
      上海大众帕萨特2003款2.0 手动 基本版(2004-2004)文字很长很长上海大众帕萨特2003款2.0 手动 基本版(2004-2004)文字很长很长很…
    </div>
    <div class="car-message-item-tips">
      <div class="car-message-item-tips-item">123</div>
      <div class="car-message-item-tips-item">123</div>
      <div class="car-message-item-tips-item">123</div>
      <div class="car-message-item-tips-item">123</div>
    </div>
  </div>
  <div class="car-message-item">
    <div class="car-message-item-header">
      <div class="car-message-item-header-number">
        鲁A12345
      </div>
      <span class="pink">A类车</span>
      <span class="gray">10000km</span>
      <div class="car-message-item-header-right-box">
        <a href="javascript:;" class="right-button button-edit">编辑</a>
        <a href="javascript:;" class="right-button">删除</a>
      </div>
    </div>
    <div class="car-message-item-info">
      上海大众帕萨特2003款2.0 手动 基本版(2004-2004)文字很长很长上海大众帕萨特2003款2.0 手动 基本版(2004-2004)文字很长很长很…
    </div>
    <div class="car-message-item-tips">
      <div class="car-message-item-tips-item">123</div>
      <div class="car-message-item-tips-item">123</div>
      <div class="car-message-item-tips-item">123</div>
      <div class="car-message-item-tips-item">123</div>
    </div>
  </div>
  <div class="car-message-item">
    <div class="car-message-item-header">
      <div class="car-message-item-header-number">
        鲁A12345
      </div>
      <span class="pink">A类车</span>
      <span class="gray">10000km</span>
      <div class="car-message-item-header-right-box">
        <a href="javascript:;" class="right-button button-edit">编辑</a>
        <a href="javascript:;" class="right-button">删除</a>
      </div>
    </div>
    <div class="car-message-item-info">
      上海大众帕萨特2003款2.0 手动 基本版(2004-2004)文字很长很长上海大众帕萨特2003款2.0 手动 基本版(2004-2004)文字很长很长很…
    </div>
    <div class="car-message-item-tips">
      <div class="car-message-item-tips-item">123</div>
      <div class="car-message-item-tips-item">123</div>
      <div class="car-message-item-tips-item">123</div>
      <div class="car-message-item-tips-item">123</div>
    </div>
  </div>
  <div class="car-message-item">
    <div class="car-message-item-header">
      <div class="car-message-item-header-number">
        鲁A12345
      </div>
      <span class="pink">A类车</span>
      <span class="gray">10000km</span>
      <div class="car-message-item-header-right-box">
        <a href="javascript:;" class="right-button button-edit">编辑</a>
        <a href="javascript:;" class="right-button">删除</a>
      </div>
    </div>
    <div class="car-message-item-info">
      上海大众帕萨特2003款2.0 手动 基本版(2004-2004)文字很长很长上海大众帕萨特2003款2.0 手动 基本版(2004-2004)文字很长很长很…
    </div>
    <div class="car-message-item-tips">
      <div class="car-message-item-tips-item">123</div>
      <div class="car-message-item-tips-item">123</div>
      <div class="car-message-item-tips-item">123</div>
      <div class="car-message-item-tips-item">123</div>
    </div>
  </div>
</div>
</div>
</body>
</html>
