<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>检测开单</title>
  <link rel="stylesheet" href="../../style.css">
</head>
<script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
<script type="application/javascript" src="../../维修品牌.js"></script>
<body>
  <div class="dialog-main-1">
    <div class="brand-select">
      <div class="brand-select-item">
        <div class="brand-select-item-title">
          全品牌
        </div>
        <div class="brand-select-item-children-box">
          <div class="brand-select-item-children-item" id="allBrand">
            全品牌
          </div>
        </div>
      </div>
      <div class="brand-select-item">
        <div class="brand-select-item-title">
          A
        </div>
        <div class="brand-select-item-children-box">
          <div class="brand-select-item-children-item">
            阿斯顿马丁
          </div>
          <div class="brand-select-item-children-item">
            安驰
          </div>
          <div class="brand-select-item-children-item selected">
            奥迪
          </div>
          <div class="brand-select-item-children-item selected">
            奥迪
          </div>
          <div class="brand-select-item-children-item selected">
            奥迪
          </div>
          <div class="brand-select-item-children-item selected">
            奥迪
          </div>
          <div class="brand-select-item-children-item selected">
            奥迪
          </div>
          <div class="brand-select-item-children-item selected">
            奥迪
          </div>
          <div class="brand-select-item-children-item selected">
            奥迪
          </div>
          <div class="brand-select-item-children-item selected">
            奥迪
          </div>
          <div class="brand-select-item-children-item selected">
            奥迪
          </div>
          <div class="brand-select-item-children-item selected">
            奥迪
          </div>
          <div class="brand-select-item-children-item selected">
            奥迪
          </div>
          <div class="brand-select-item-children-item selected">
            奥迪
          </div>
          <div class="brand-select-item-children-item selected">
            奥迪
          </div>
          <div class="brand-select-item-children-item selected">
            奥迪
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
