<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>详情详情</title>
  <link rel="stylesheet" href="../../c_style/css.css">
</head>
<body>
  <div class="project">
    <div class="project-title"></div>
    <div class="project-detail-image">
      <img src="../../c_image/bg-img.png" alt="">
    </div>
    <div class="project-detail-info">
      <div class="project-detail-info-title">
        变速箱养护这是多行示例变速箱养护这是多行示例变速箱
        养护这是多行示例
      </div>
      <div class="project-detail-info-price">
        ￥1.00
      </div>
      <div class="project-detail-info-detail">
        <div class="project-detail-info-detail-left">
          套餐价 ￥152.60（含5次）
        </div>
        <div class="project-detail-info-detail-right">
          已售 625
        </div>
        <div class="clear"></div>
      </div>
      <div class="project-detail-info-line"></div>
      <div class="project-detail-info-detail score">
        <div class="project-detail-info-detail-left">
          <span>5.0ffen</span>
          <i class="star light"></i>
          <i class="star light"></i>
          <i class="star light"></i>
          <i class="star light"></i>
          <i class="star"></i>
        </div>
        <div class="project-detail-info-detail-right">
          251条评价
        </div>
        <div class="clear"></div>
      </div>
      <div class="project-detail-message">
        <div class="project-detail-message-item">
          <div class="project-detail-message-item-title">项目描述</div>
          <div class="project-detail-message-item-info">
            这是项目描述，这是项目描述这是项目描述这是项目描述这...这是项目描述，这是项目描述这是项目描述这是项目描述这...
          </div>
        </div>
        <div class="project-detail-message-item">
          <div class="project-detail-message-item-title">适用车型</div>
          <div class="project-detail-message-item-info">
            这是项目描述，这是项目描述这是项目描述这是项目描述这...这是项目描述，这是项目描述这是项目描述这是项目描述这...
          </div>
        </div>
        <div class="project-detail-message-item">
          <div class="project-detail-message-item-title">服务时长</div>
          <div class="project-detail-message-item-info">
            这是项目描述，这是项目描述这是项目描述这是项目描述这...这是项目描述，这是项目描述这是项目描述这是项目描述这...
          </div>
        </div>
      </div>
    </div>
    <div class="project-buttom-btn"></div>
  </div>
</body>
<script type="application/javascript">

</script>
</html>
